.article{
    box-shadow: rgb(78, 78, 78) 0px 0px 30px 10px ;
    display: flex;
    margin-top: 3em;
    flex-basis: 30%;
    flex-direction: column;
    &__header{
        display: flex;
        margin-left: 13em;
        flex-basis: 100%;
    }
    &__title{
        display: flex;
        text-shadow: #f9ca2f 2px 2px 5px ;
        color:#fafafa;
        font-size: x-large;
    }
    &__section{
        text-shadow: #f9ca2f 2px 2px 5px ;
        color:#fafafa;
        display: flex;
        flex-basis: 100%;
        font-size: x-large;
        align-content: center;
        margin-left: 1em;
    }
    &__content{
        align-content: center;
    }
}