.aside {
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-basis: 100%;

  &__header {
    margin-left: 2em;
    font-size: x-large;
    display: flex;
    font-style: italic;
    font-family: sans-serif;
    text-shadow: #000000 3px 3px 10px;
    color: #fafafa;
  }
  &__text {
    display: flex;
  }
  &__section {
    font-family: sans-serif;
    text-shadow: #000000 3px 3px 10px;
    color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__content {
    margin: 7px;
    display: flex;
    flex-basis: 18%;
    flex-wrap: wrap;
    border: #fff solid 3px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: rgb(71, 70, 70) 0px 0px 5px 5px;
    justify-content: center;
  }
  &__title {
    display: flex;
    flex-basis: 100%;
    margin-left: 1em;
    justify-content: flex-start;
  }
  &__link {
    display: flex;
    flex-basis: 100%;
    text-decoration: none;
    font-family: sans-serif;
    text-shadow: #000000 3px 3px 10px;
    color: #fafafa;
  }
  &__photo {
    display: flex;
    width: 180px;
    height: 140px;
  }
  &__footer {
    display: flex;
    flex-basis: 100%;
    padding-left: 1em;
  }
  &__subtext {
    display: flex;
    flex-basis: 100%;
  }
}
