.table{
    display: flex;
    flex-basis: 100%;
    margin: 5em;
    justify-content: center;
    &__item{
        display: flex;
    }
    &__text{
        padding: 2em;
        border: #fafafa solid 1px;
        box-shadow:  rgb(71, 70, 70) 0px 0px 5px 5px ;
        width: 500px;
    }
}