.aside {
  flex-direction: column;
  display: flex;
  flex-basis: 19%;
  box-shadow: #c5c3c3 0px 0px 6px 6px;
  border-radius: 0px 15px 15px 0px;
  &__header {
    margin: 1px;
    font-size: x-large;
    display: flex;
    flex-basis: 5%;
    justify-content: space-around;
    font-style: italic;
    font-family: sans-serif;
    text-shadow: #000000 3px 3px 10px;
    color: #fafafa;
  }
  &__text {
    display: flex;
  }
}
