.main{
  display: flex;
  border: solid white 4px;
  box-shadow: #f9ca2f 0px 0px 3px 3px;
  border-radius: 15px 0px 0px 15px;
  flex-basis:  80%;
  flex-wrap: wrap;
&__header{
  display: flex;
  flex-basis: 100%;
  align-content: center;
  justify-content: center;
  font-style: italic;
  text-shadow: #f9ca2f 2px 2px 5px ;
  color:#fafafa;
}
&__text{
  display: flex;
  flex-grow: 1;
  font-size: xx-large;
  justify-content: center;
}
}