.core-article {
  padding: 10px;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  font-family: sans-serif;
  text-shadow: #000000 3px 3px 6px;
  color: #fafafa;
  &__content {
    margin: 10px;
    display: flex;
    flex-basis: 31%;
    flex-wrap: wrap;
    border-radius: 25px 25px 25px 25px;
    box-shadow: rgb(71, 70, 70) 0px 0px 10px 10px;
    justify-content: center;
  }
  &__link {
    display: flex;
    flex-basis: 100%;
    text-decoration: none;
    font-family: sans-serif;
    text-shadow: #000000 3px 3px 10px;
    color: #fafafa;
  }
  &__title {
    display: flex;
    flex-basis: 100%;
    font-size: x-large;
    padding-left: 1em;
  }
  &__photo {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
  }
  &__footer {
    display: flex;
    flex-basis: 100%;
    font-size: x-large;
    padding-left: 1em;
  }
}
